@import '../../variables';

.about {
  background-color: $about-bg;
  color: $about-text;
  font-size: 12px;
  padding: 10px $nav-y-padding;
}

@media (max-width: 1000px) {
  .about {
    padding: 10px 20px;
  }
}

@media (max-width: 500px) {
  .about {
    padding: 10px 70px;
    width: 100vw;
}
}

.breadcrumb {
  @include center($justify: start);

  margin: 20px 0;
}

.breadcrumb span {
  padding-left: 25px;
}

.more {
  @include center($align: start, $justify: start);
}

.more > div {
  margin: 10px 20px 10px 0;
}

.more span {
  color: $more-text;
  font-weight: bold;
}

.more p {
  margin: 10px 0;
}

.about a {
  color: $noti-button;
  text-decoration: none;
}

.vl {
  border-left: 1px solid $noti-bg;
  height: 15px;
  margin: 0 10px;
}

.cr {
  @include center($justify: start);
}

.us {
  @include center($justify: space-between);

  width: 60%;
}

.us > div {
  @include center;
}
