@import '../../variables';

.nav {
  @include center($justify: space-between);

  background-color: $nav-bg;
  color: $nav-text;
  padding: 10px $nav-y-padding;
  font-size: 12px;
}

@media (max-width: 650px) {
  .nav {
    padding: 10px 20px;
    width: 150vw;
  }
}

.nav span:hover {
  color: $text;
  cursor: pointer;
}
