@import '../../variables';

.tv {
  @include center($direction: column);
}

.tv header {
  font-size: 80px;
  font-family: 'San Francisco Bold', serif;
  text-align: center;
  margin: 15px 0 20px 0;
  line-height: 1;
}

.tv span {
  text-align: center;
}

.tv a {
  text-decoration: none;
  color: $noti-button;
}

.devices {
  @include center($justify: space-between);

  width: 65%;
  margin: 40px 0 20px 0;
}

.devices img {
  margin: 10px;
}

.tv p {
  @extend header;

  font-size: 40px;
}
